*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body{
    background: url(images/reg-bg.jpg);
    background-repeat: no-repeat;
}

h1{
    padding-top: 4%;
    color: green;
}

i{
    color: #f06a0a;
}

a{
    color: green;
}


